body {
  position: relative;
  padding-top: 60px;
  background-position: 0 40px;
  font-family: "Arimo", sans-serif;
  font-size: 12px;
}

.btn, .btn:hover, #cari, #cari:hover {
	font-size: 12px;
	padding: 4px 20px;
}

.dropdown-menu > li > a:hover {
	background: #5DB9CC;
	text-decoration: none;
}

a, a:hover {
	color: #5DB9CC;
	text-decoration: none;	
	font-size: 12px;
}

.title {
	margin: 10px 0;
	text-align: center;
	font-size: 2.6em;
	color: #B5B7A8;
	text-shadow: 0 1px 2px #fff;
	padding: 10px 0;
}

.title strong {
	font-weight: bold;
	font-size: 1.4em;
	line-height: 40px;
	color: #7CB2AE;
	text-shadow: 0 1px 2px #ffffff;
}

form .system-time {
	text-align: center;
	padding: 0 0 30px;
	line-height: 14px;
}

form {
	margin: 0;
}

.system-time span {
	color: #808080;
	text-shadow: 0 1px 1px #ffffff;
}

.input input {
	padding: 15px;
}

#footer {
	background: transparent;
	border: none;
}

#footer * {
	color: #fff;
}

.credit {
	margin: 0 auto;
	display: table;
	margin-top: 5px;
}

.muted {
	color: #999999;
}

.credit .big {
display: inline;
}

.big a, a:hover {
	color: #5DB9CC;
	text-decoration: none;
}

.credit .tiny {
	display: none;
}

#wrap {
	min-height: 50%;
	height: auto !important;
	margin: 0 auto -32px;
}

fieldset {
	background: #fff;
	background: rgba(255,255,255,0.25);
	padding: 0 20px;
	border: 1px solid rgba(0,0,0,0.15);
	margin: 0 0 20px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
}

fieldset legend {
	width: auto;
	border: none;
	padding: 0 20px;
}

legend {
	text-align: center;
	display: block;
	width: 100%;
	padding: 0;
	margin-bottom: 20px;
	font-size: 21px;
	line-height: 40px;
	color: #333333;
	border: 0;
	border-bottom: 1px solid #e5e5e5;
}

.navbar {
	margin-bottom: 20px;
	overflow: visible;
	color: #777777;
	font-size: 12px;
}

.navbar-inner {
	border-color: rgba(0,0,0,0.15);
	min-height: 20px;
	background: -moz-linear-gradient(top, rgba(241,242,237,0.95) 0%, rgba(224,228,204,0.95) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(241,242,237,0.95)), color-stop(100%,rgba(224,228,204,0.95)));
	background: -webkit-linear-gradient(top, rgba(241,242,237,0.95) 0%,rgba(224,228,204,0.95) 100%);
	background: -o-linear-gradient(top, rgba(241,242,237,0.95) 0%,rgba(224,228,204,0.95) 100%);
	background: -ms-linear-gradient(top, rgba(241,242,237,0.95) 0%,rgba(224,228,204,0.95) 100%);
	background: linear-gradient(to bottom, rgba(241,242,237,0.95) 0%,rgba(224,228,204,0.95) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bff1f2ed', endColorstr='#bfe0e4cc',GradientType=0 );
}

.brand {
	margin-top: 4px;
}

.navbar .brand {
	font: 14px/14px "PT Sans", sans-serif;
	color: #9EA093;
	text-transform: uppercase;
	font-weight: bold;
}

.desktop {
	text-align: center;
}

#container {
	padding-bottom: 30px;
}

ul.breadcrumb li {
	list-style: none;
}

.header, .grid-top, .grid-bottom  {
	width: 100%;
	margin: 10px 0;
}

.breadcrumb {
	padding: 0 15px 8px 0;
	background-color: inherit;
	margin: 0;
}

ul.breadcrumb li {
	display: inline-block;
	text-shadow: 0 1px 0 #ffffff;
}

.btn-group > .btn:first-child {
	font-size: 12px;
	-webkit-border-bottom-left-radius: 5px;
	border-bottom-left-radius: 5px;
	-webkit-border-top-left-radius: 5px;
	border-top-left-radius: 5px;
	-moz-border-radius-bottomleft: 5px;
	-moz-border-radius-topleft: 5px;
}

.input-append input, .input-prepend input, .input-append select, .input-prepend select, .input-append .uneditable-input, .input-prepend .uneditable-input, .input-append .dropdown-menu, .input-prepend .dropdown-menu {
	font-size: 12px;
	margin-bottom: 0;
	padding: 14px;
}

.table {
	margin-bottom: 0;
}

.grid {
	border: 1px solid #BBF;
}

.field_field {
	min-width: 362px!important;
}

#add_field {
	font-size: 12px;
}

.action-buttons {
	padding-bottom: 14px;
}

.btn, .btn:hover, #cari, #cari:hover {
	padding: 4px 20px;
	text-shadow: 0 1px 1px #fff;
	color: #000;
	border-color: rgba(0,0,0,0.05);
	background: #e0e4cc;
	background: -moz-linear-gradient(top, rgba(224,228,204,0.5) 0%, rgba(176,178,164,0.5) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(224,228,204,0.5)), color-stop(100%,rgba(176,178,164,0.5)));
	background: -webkit-linear-gradient(top, rgba(224,228,204,0.5) 0%,rgba(176,178,164,0.5) 100%);
	background: -o-linear-gradient(top, rgba(224,228,204,0.5) 0%,rgba(176,178,164,0.5) 100%);
	background: -ms-linear-gradient(top, rgba(224,228,204,0.5) 0%,rgba(176,178,164,0.5) 100%);
	background: linear-gradient(to bottom, rgba(224,228,204,0.5) 0%,rgba(176,178,164,0.5) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#80e0e4cc', endColorstr='#80b0b2a4',GradientType=0 );
	-webkit-box-shadow: 1px 2px 2px rgba(0,0,0,0.075) inset, 0 1px 1px #fff;
	-moz-box-shadow: 1px 2px 2px rgba(0,0,0,0.075) inset, 0 1px 1px #fff;
	-ms-box-shadow: 1px 2px 2px rgba(0,0,0,0.075) inset, 0 1px 1px #fff;
	-o-box-shadow: 1px 2px 2px rgba(0,0,0,0.075) inset, 0 1px 1px #fff;
	box-shadow: 1px 2px 2px rgba(0,0,0,0.075) inset, 0 1px 1px #fff;
}

.btn-primary, .btn-primary:hover {
	color: #ffffff;
	text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.5);
	background: rgb(127,220,239);
	background: -moz-linear-gradient(top, rgba(127,220,239,1) 0%, rgba(105,210,231,1) 50%, rgba(50,176,201,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(127,220,239,1)), color-stop(50%,rgba(105,210,231,1)), color-stop(100%,rgba(50,176,201,1)));
	background: -webkit-linear-gradient(top, rgba(127,220,239,1) 0%,rgba(105,210,231,1) 50%,rgba(50,176,201,1) 100%);
	background: -o-linear-gradient(top, rgba(127,220,239,1) 0%,rgba(105,210,231,1) 50%,rgba(50,176,201,1) 100%);
	background: -ms-linear-gradient(top, rgba(127,220,239,1) 0%,rgba(105,210,231,1) 50%,rgba(50,176,201,1) 100%);
	background: linear-gradient(to bottom, rgba(127,220,239,1) 0%,rgba(105,210,231,1) 50%,rgba(50,176,201,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7fdcef', endColorstr='#32b0c9',GradientType=0 );
}

.btn-group > .btn:last-child, .btn-group > .dropdown-toggle {
	-webkit-border-top-right-radius: 5px;
	-moz-border-radius-topright: 5px;
	border-top-right-radius: 5px;
	-webkit-border-bottom-right-radius: 5px;
	-moz-border-radius-bottomright: 5px;
	border-bottom-right-radius: 5px;
}

tr.btn-inverse, tr.btn-inverse * {
	color: #eee;
}

tbody {
	font-size: 12px;
}

.grid-head-row {
	background: #a7dbd8;
	background: -moz-linear-gradient(top, #a7dbd8 12%, #8bb5b2 99%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(12%,#a7dbd8), color-stop(99%,#8bb5b2));
	background: -webkit-linear-gradient(top, #a7dbd8 12%,#8bb5b2 99%);
	background: -o-linear-gradient(top, #a7dbd8 12%,#8bb5b2 99%);
	background: -ms-linear-gradient(top, #a7dbd8 12%,#8bb5b2 99%);
	background: linear-gradient(to bottom, #a7dbd8 12%,#8bb5b2 99%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a7dbd8', endColorstr='#8bb5b2',GradientType=0 );
}

.row-fluid {
	padding-top: 10px;
}

.pagination {
	margin: 10px 0;
	display: inline;
}

.pull-left {
	float: left;
}

.pagination span, .page-changer span {
	line-height: 20px;
}

.pagination ul {
	-webkit-box-shadow: 0 1px 1px #fff;
	-moz-box-shadow: 0 1px 1px #fff;
	-ms-box-shadow: 0 1px 1px #fff;
	-o-box-shadow: 0 1px 1px #fff;
	box-shadow: 0 1px 1px #fff;
}

.pagination ul > li {
	display: inline;
}

.pagination ul > li.active > a, .pagination ul > li.active > span {
	background: rgb(208,214,177);
	background: -moz-linear-gradient(top, rgba(208,214,177,1) 0%, rgba(224,228,204,1) 50%, rgba(225,226,215,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(208,214,177,1)), color-stop(50%,rgba(224,228,204,1)), color-stop(100%,rgba(225,226,215,1)));
	background: -webkit-linear-gradient(top, rgba(208,214,177,1) 0%,rgba(224,228,204,1) 50%,rgba(225,226,215,1) 100%);
	background: -o-linear-gradient(top, rgba(208,214,177,1) 0%,rgba(224,228,204,1) 50%,rgba(225,226,215,1) 100%);
	background: -ms-linear-gradient(top, rgba(208,214,177,1) 0%,rgba(224,228,204,1) 50%,rgba(225,226,215,1) 100%);
	background: linear-gradient(to bottom, rgba(208,214,177,1) 0%,rgba(224,228,204,1) 50%,rgba(225,226,215,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d0d6b1', endColorstr='#e1e2d7',GradientType=0 );
	-webkit-box-shadow: 1px 2px 3px rgba(0,0,0,0.15) inset;
	-moz-box-shadow: 1px 2px 3px rgba(0,0,0,0.15) inset;
	-ms-box-shadow: 1px 2px 3px rgba(0,0,0,0.15) inset;
	-o-box-shadow: 1px 2px 3px rgba(0,0,0,0.15) inset;
	box-shadow: 1px 2px 3px rgba(0,0,0,0.15) inset;
}

.pagination ul > li > a, .pagination ul > li > span {
	color: #57594C;
	text-shadow: 0 1px 1px #fff;
	border-color: rgba(0,0,0,0.15);
	padding: 0px 15px;
	background: rgb(225,226,215);
	background: -moz-linear-gradient(top, rgba(225,226,215,1) 0%, rgba(224,228,204,1) 50%, rgba(208,214,177,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(225,226,215,1)), color-stop(50%,rgba(224,228,204,1)), color-stop(100%,rgba(208,214,177,1)));
	background: -webkit-linear-gradient(top, rgba(225,226,215,1) 0%,rgba(224,228,204,1) 50%,rgba(208,214,177,1) 100%);
	background: -o-linear-gradient(top, rgba(225,226,215,1) 0%,rgba(224,228,204,1) 50%,rgba(208,214,177,1) 100%);
	background: -ms-linear-gradient(top, rgba(225,226,215,1) 0%,rgba(224,228,204,1) 50%,rgba(208,214,177,1) 100%);
	background: linear-gradient(to bottom, rgba(225,226,215,1) 0%,rgba(224,228,204,1) 50%,rgba(208,214,177,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e1e2d7', endColorstr='#d0d6b1',GradientType=0 );
}

#footer {
background-color: #f5f5f5;
background-image: -moz-linear-gradient(bottom, white, #f5f5f5);
background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f5f5f5), to(white));
background-image: -webkit-linear-gradient(bottom, white, #f5f5f5);
background-image: -o-linear-gradient(bottom, white, #f5f5f5);
background-image: linear-gradient(to bottom, white, #f5f5f5);
background-repeat: repeat-x;
-webkit-box-shadow: 1px 0 10px rgba(0, 0, 0, 0.1);
-moz-box-shadow: 1px 0 10px rgba(0, 0, 0, 0.1);
box-shadow: 1px 0 10px rgba(0, 0, 0, 0.1);
border: 1px solid #D4D4D4;
}

#btn-danger {
	 color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #da4f49;
  *background-color: #bd362f;
  background-image: -moz-linear-gradient(top, #ee5f5b, #bd362f);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ee5f5b), to(#bd362f));
  background-image: -webkit-linear-gradient(top, #ee5f5b, #bd362f);
  background-image: -o-linear-gradient(top, #ee5f5b, #bd362f);
  background-image: linear-gradient(to bottom, #ee5f5b, #bd362f);
  background-repeat: repeat-x;
  border-color: #bd362f #bd362f #802420;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffee5f5b', endColorstr='#ffbd362f', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

#btn-primary, #btn-primary:hover {
	font-size: 14px;
	color: #ffffff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color: #006dcc;
	background-image: linear-gradient(to bottom, #0088cc, #0044cc);
	background-repeat: repeat-x;
}

