body {
  position: relative;
  padding-top: 40px;
  background-position: 0 40px;
  font-family: "Arimo", sans-serif;
}

.login {
	background: #fff url(../img/bg2.jpg) center center no-repeat;
	background-size: cover;
	-webkit-box-shadow: 0 0 500px rgba(0,0,0,0.5) inset;
	-moz-box-shadow: 0 0 500px rgba(0,0,0,0.5) inset;
	-ms-box-shadow: 0 0 500px rgba(0,0,0,0.5) inset;
	-o-box-shadow: 0 0 500px rgba(0,0,0,0.5) inset;
	box-shadow: 0 0 500px rgba(0,0,0,0.5) inset;
}

.login-pane {
	width: 400px;
	height: auto;
	margin: 0 auto;
	z-index: 9999;
}

.login-pane form {
	padding: 30px 40px;
	border: 1px solid rgba(0,0,0,0.15);
	background: -moz-linear-gradient(top, rgba(248,249,239,0.9) 0%, rgba(220,224,206,0.9) 99%, rgba(220,224,206,0.9) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(248,249,239,0.9)), color-stop(99%,rgba(220,224,206,0.9)), color-stop(100%,rgba(220,224,206,0.9)));
	background: -webkit-linear-gradient(top, rgba(248,249,239,0.9) 0%,rgba(220,224,206,0.9) 99%,rgba(220,224,206,0.9) 100%);
	background: -o-linear-gradient(top, rgba(248,249,239,0.9) 0%,rgba(220,224,206,0.9) 99%,rgba(220,224,206,0.9) 100%);
	background: -ms-linear-gradient(top, rgba(248,249,239,0.9) 0%,rgba(220,224,206,0.9) 99%,rgba(220,224,206,0.9) 100%);
	background: linear-gradient(to bottom, rgba(248,249,239,0.9) 0%,rgba(220,224,206,0.9) 99%,rgba(220,224,206,0.9) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e6f8f9ef', endColorstr='#e6dce0ce',GradientType=0 );
	-webkit-border-radius: 15px;
	-khtml-border-radius: 15px;
	-moz-border-radius: 15px;
	-ms-border-radius: 15px;
	-o-border-radius: 15px;
	border-radius: 15px;
	-webkit-box-shadow: 0 50px 150px rgba(1, 1, 1, 0.75);
	-khtml-box-shadow: 0 50px 150px rgba(1, 1, 1, 0.75);
	-moz-box-shadow: 0 50px 150px rgba(1, 1, 1, 0.75);
	-ms-box-shadow: 0 50px 150px rgba(1, 1, 1, 0.75);
	-o-box-shadow: 0 50px 150px rgba(1, 1, 1, 0.75);
	box-shadow: 0 50px 150px rgba(1, 1, 1, 0.75);
	filter: progid:DXImageTransform.Microsoft.Shadow(color='#666666', Direction=180, Strength=5);
}

.login-pane form .login-form .logo {
	padding: 0;
	text-align: center;
}

.login-pane form .login-form div {
	padding: 5px 0;
	display: table;
	margin: 0 auto;
}

.login-pane .title {
	margin: 10px 0;
	text-align: center;
	font-size: 2.6em;
	color: #B5B7A8;
	text-shadow: 0 1px 2px #fff;
	padding: 10px 0;
}

.login-form div {
	padding: 5px 0;
	display: table;
	margin: 0 auto;
}

.title {
	margin: 10px 0;
	text-align: center;
	font-size: 2.6em;
	color: #B5B7A8;
	text-shadow: 0 1px 2px #fff;
	padding: 10px 0;
}

.title strong {
	font-weight: bold;
	font-size: 1.4em;
	line-height: 40px;
	color: #7CB2AE;
	text-shadow: 0 1px 2px #ffffff;
}

form .system-time {
	text-align: center;
	padding: 0 0 30px;
	line-height: 14px;
}

.system-time span {
	color: #808080;
	text-shadow: 0 1px 1px #ffffff;
}

.input input {
	padding: 15px;
}

#footer {
	background: transparent;
	border: none;
}

#footer * {
	color: #fff;
}

.credit {
	margin: 0 auto;
	display: table;
	margin-top: 5px;
}

.muted {
	color: #999999;
}

.credit .big {
display: inline;
}

.big a, a:hover {
	color: #5DB9CC;
	text-decoration: none;
}

.credit .tiny {
	display: none;
}

#wrap {
	min-height: 50%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -32px;
}

fieldset {
	background: #fff;
	background: rgba(255,255,255,0.25);
	padding: 0 20px;
	border: 1px solid rgba(0,0,0,0.15);
	margin: 0 0 20px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
}

fieldset legend {
	width: auto;
	border: none;
	padding: 0 20px;
}

legend {
	text-align: center;
	display: block;
	width: 100%;
	padding: 0;
	margin-bottom: 20px;
	font-size: 21px;
	line-height: 40px;
	color: #333333;
	border: 0;
	border-bottom: 1px solid #e5e5e5;
}

.brand {
	margin-top: 4px;
}

.navbar .brand {
	font: 14px/14px "PT Sans", sans-serif;
	color: #9EA093;
	text-transform: uppercase;
	font-weight: bold;
}

.desktop {
	text-align: center;
}

#footer {
/*background-color: #f5f5f5;
background-image: -moz-linear-gradient(bottom, white, #f5f5f5);
background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f5f5f5), to(white));
background-image: -webkit-linear-gradient(bottom, white, #f5f5f5);
background-image: -o-linear-gradient(bottom, white, #f5f5f5);
background-image: linear-gradient(to bottom, white, #f5f5f5);
background-repeat: repeat-x;
-webkit-box-shadow: 1px 0 10px rgba(0, 0, 0, 0.1);
-moz-box-shadow: 1px 0 10px rgba(0, 0, 0, 0.1);
box-shadow: 1px 0 10px rgba(0, 0, 0, 0.1);
border: 1px solid #D4D4D4;*/
}